$purple: #303695;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

body.modal-open {
  overflow: hidden;
}

.h-center {
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 30px;
  font-size: 35px;
  line-height: 55px;
}

h4 {
  text-align: center;
  margin-bottom: 10px;
}

.color-gray{
  color: #666;
}

h5{
  color: #666;
}

.butn {
  display: block;
  margin: 30px auto;
  padding: 15px 20px;
  background: $purple;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  border: none;
  &:hover {
    background: #4349df;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
  }
  &:focus{
    outline: none;
  }
}

.butn-submit {
  margin-top: 10px;
  padding: 10px 15px;
}

.butn-desigion{
  width: 200px;
}

.navbar {
  padding: 0;
}

.bgd-dark {
  background: url("img/bg11.jpg") no-repeat center center fixed;
  background-size: cover;
}

.bx-wrapper {
  margin-bottom: 30px;
}

.block1_menu {
  .logo {
    display: block;
    margin: 40px auto 0;
  }
.logo-opt{
  max-width: 250px;
  margin: 15px auto 10px;
}
  .phone {
    display: block;
    &:first-child {
      margin-top: 30px;
    }
  }
}

.phone {
  text-align: left;
  color: #fff;
  font-size: 20px;
  &:hover {
    color: #fff;
    //text-decoration: none;
  }
  &:before {
    content: '';
    height: 25px;
    width: 25px;
    display: inline-block;
    background: url("img/phone-symbol-of-an-auricular-inside-a-circle (1).png") no-repeat center;
    background-size: contain;
    margin-right: 15px;
    position: relative;
    top: 5px;
  }
}

.bg-dark {
  background: #000 !important;
}

.adress {
  padding-top: 30px;
  padding-left: 90px;

  .top-adress {
    text-align: left;
    display: block;
    margin-left: 30px;

    //&:before {
    //  content: "";
    //  display: inline-block;
    //  width: 30px;
    //  height: 30px;
    //  background: url("img/maps-and-flags (1).png") no-repeat center;
    //  background-size: cover;
    //  margin-right: 5px;
    //}
  }

  .bottom-adress {
    text-align: left;
    display: block;

    &:before {
      content: "";
      display: inline-block;
      width: 17px;
      height: 17px;
      background: url("img/maps-and-flags (1).png") no-repeat center;
      background-size: cover;
      margin-right: 5px;
    }
  }

  .top-clock {
    text-align: left;
    display: block;
    margin-left: 30px;

    //&:before {
    //  content: "";
    //  display: inline-block;
    //  width: 17px;
    //  height: 17px;
    //  background: url("img/passage-of-time (1).png") no-repeat center;
    //  background-size: cover;
    //  margin-right: 5px;
    //}
  }

  .bottom-clock {
    text-align: left;
    display: block;

    &:before {
      content: "";
      display: inline-block;
      width: 17px;
      height: 17px;
      background: url("img/passage-of-time (1).png") no-repeat center;
      background-size: cover;
      margin-right: 5px;
    }
  }
}


.block2_choice {
  background: url("img/vid_stroy_plitka_124.png") no-repeat center;
  background-size: cover;
  padding: 50px 0;

  ul {
    margin-bottom: 80px;
  }

  li {
    color: #373737;
    font-size: 25px;
    line-height: 45px;
    list-style: none;
    &:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      background: url("img/diamond.png") no-repeat center;
      background-size: contain;
    }
  }
}

.block5_order-design {
  padding: 40px 0;
  .butn {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.block3_action {
  background: url('img/222.png') no-repeat center center;
  background-size: cover;
  padding: 70px 0;
  text-align: center;
  .sale5 {
    color: red;
    font-size: 60px;
    font-weight: bold;
  }
  .sale_text {
    font-size: 45px;
  }
}

textarea{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  &:focus{
    outline: none;
    border: 1px solid #666;
  }
}

.form-control{
  &:focus{
    box-shadow: none;
    border: 1px solid #666;
  }
}

.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background: none;
  margin: auto;
  img {
    margin: auto;
  }
}

.type-product {
  background: #f3f3f3;
  margin-bottom: 30px;
  outline: none;
  overflow: hidden;
  .type-product-img {
    display: block;
    vertical-align: top;
    margin: 0 auto;
    width: 100%;
  }
}

.block4_options_products {
  padding-top: 80px;
}

article {
  padding: 0;
  outline: none;
  margin-bottom: 15px;
  color: #666;

}

.form-examples, .form-sale {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  .input-form-sale, .input-form-example {
    margin: 10px 5px;
    padding: 8px 10px;
    &:focus{
      outline: none;
    border: 1px solid #666;
  }
  }

}

.form-sale{
  margin-bottom: 0;

}

.nav-link {
  font-size: 18px;
}

.nav-item {
  padding-top: 8px;
  padding-bottom: 8px;
  &:hover {
    background: $purple;
    color: #fff;
  }
}

@media (max-width: 980px) {
  article{
    margin-top: 30px;
  }
}

h3 {
  text-align: center;
  margin: 60px 0 50px;
}

.block7 {
  padding: 70px 0;
  p {
    font-size: 20px;
    line-height: 35px;
    padding: 0 20px;
  }
}

.map-block {
  position: relative;
  height: 620px;
  z-index: 1;
}

.map-block .container {
  position: relative;
}

.block6 {
  padding-bottom: 50px;
  h3{
    margin-top: 40px;
  }
}

.bottom_contacts {
  margin-bottom: 60px;
  z-index: 1;
  .adress {
    padding: 0;
  }
  a {
    font-size: 20px;
    &:hover {
      color: #fff;
    }
  }
}

.icon_contacts {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}
.vertical-top {
  vertical-align: top;
}

.navbar-toggler {
  &:focus {
    outline: none;
  }
}

  .block1_menu {
    padding-top: 20px;
    .col-phone {
      text-align: center;
      margin-bottom: 15px;
    }
    .phone:first-child {
      margin-top: 5px;
    }
    .adress {
      padding: 0;
      margin-bottom: 0;
    }
  }

.top-navbar {
  margin-top: 20px;
  li {
    display: inline-block;
    list-style: none;
    a {
      display: inline-block;
      color: #454545;
      &:hover {
        text-decoration: none;
        color: $purple;
      }
    }
  }
}

.top-opt-contacts {
  text-align: center;
  margin-bottom: 5px;
  .phone-opt {
    text-align: center;
    align-items: center;
    height: 100%;
    margin-left: 50px;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    vertical-align: center;
    &:hover {
      color: #fff;
    }
    &:before {
      content: '';
      height: 24px;
      width: 24px;
      display: inline-block;
      background: url("img/phone-symbol-of-an-auricular-inside-a-circle (1).png") no-repeat center;
      background-size: contain;
      margin-right: 10px;
      vertical-align: bottom;
    }
  }
}

.i-social {
    margin: 0 5px;
  display: inline-block;
}

.i-social-bottom {
  margin-bottom: 5px;
  display: block;
  text-align: left;
  color: #fff;
  &:last-child{
    margin-bottom: 20px;
  }
}

.top-social {
  margin: 15px 0;
  text-align: end;
}

.block1_opt {
 // position: fixed;
  z-index: 9;
  width: 100%;
  background: rgba(0,0,0,0.7);
  padding-top: 0;
  .navbar{
    opacity: .6;
    .nav-link {
      font-size: 16px;
    }
  }
}

.bg-dark-opt{
  opacity: .5;
.container{
  opacity: 1;
  .navbar-nav{
    text-align: right;
  }
}
}

.block10{
  margin-top: 40px;
}

@media (max-width: 450px) {
  .i-social {
    float: none !important;
    margin-right: 5px !important;
    margin-top: 15px;
  }
  .phone-opt {
    display: block;
    width: 100%;
    margin-left: 0 !important;
  }
  .form-sale{
    text-align: center;
    input{
      display: block;
    }
  }

}

.catalog-collection{
  margin-bottom: 40px;
}
.opt-collection {
  a {
    &:hover {
      text-decoration: none;
      color: #444aeb;
    }
  }
  p {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
  }
}

.text-with-logo {
  margin: 10px auto !important;
  color: #fff;
}

.block_certificates {
  padding: 60px 0;
  .img_certificate {
    max-width: 300px;
    box-shadow: 0px 0px 37px -6px #454545;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    &:hover {
      opacity: .8;
    }
  }
}

.collection {
  border: none;
  padding: 0;
  background: none;
  &:focus {
    outline: none;
  }
}

.fixed-block{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
  img {
    width: 100%;
    height: 100%;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    &:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }
  }


.sliders {
  //gallery_big
  .big-slider {
    margin: 0;
    padding: 0;
    .big-img {
      margin: 0;
      padding: 0;
      .slide-img {
        display: block;
        min-height: 450px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
  .bx-prev{
    left:-40px;
  }
  .bx-next{
    right: -50px!important;
  }
  .bx-pager {
    top: 90px;
  }
  .thumb-slider {
    margin: 0;
    padding: 0;

    .small-img {
      .product-img {
        margin: 8px;
      }
    }
  }
  .bx-wrapper {
    box-shadow: none;
    border: none;
    margin-bottom: 0;
  }
  .pager-active {
    .product-img {
      box-shadow: 0 0 2px 2px #6c757d;
    }
  }
  .galery {
    &:focus {
      outline: none;
    }
  }
  .small-img {
    padding: 4px;
  }
  .bx-caption{
    bottom: -10px;
    background: none;
    span{
      color: #454545!important;
    }
  }
}

.modal-lg {
  max-width: 1000px;
}

.modal-title {
  font-size: 26px;
  margin-left: 30px;
}

.logo-collection {
  max-width: 200px;
  max-height: 100px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.production {
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: center;
  padding: 40px;
  height: 300px;
  transition: all 0.8s ease;
  &:before{
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    width: 100%;
    height: 100%;
    transition: all 0.8s;
  }
  &:hover{
    &:before{
      opacity: 0;
    }
    h5{
      color: #fff;
    }
  }
   img, h5{
    position: relative;
  }
  }

.furniture{
  &:hover{
    background: url("img/furniture/furniture.jpg");
    background-size: cover;
  }
}
.glue{
  &:hover{
  background: url("img/491042042_w0_h0_cid37998_pid325193147-bba558b9.jpg");
  background-size: cover;
  }
}
.mosaic{
  &:hover{
    background: url("img/mozaika.png");
    background-size: cover;
  }
}
.mirror{
  &:hover{
    background: url("img/zerkalo.jpg");
    background-size: cover;
  }
}
.plumbing{
  &:hover{
    background: url("img/Screenshot_3.jpg");
    background-size: cover;
  }
}

.prod-slider {
  padding: 0;
  display: none;
}

.modal-sliders {
  background: #666;
  background-size: cover;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  bottom: -40px;
}

.thumb-wrap {
  position: relative;
  padding-bottom: 35.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.thumb-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.butn-order{
  width: 230px;
  background: #303695;
  &:hover{
    color: #fff !important;
  }
}

.get-sale{
  background: url('img/222.png') no-repeat center;
  background-size: cover;
  padding: 40px 0;
}

.thumb-li{
  p{
    text-align: center;
    .price{
      font-size: 16px;
      color: #303695;
      font-weight: bold;
    }
  }
}

.img-production{
  width: 80px;
  height: 80px;
  display: block;
  margin: 40px auto;
}

.why_we{
  background: #f5f5f5;
  vertical-align: middle;
  padding: 20px 10px;
  min-height: 280px;
  margin-top: 30px;
  box-shadow: 0px 0px 10px #000000;
  transition: 1s;
  .icon{
    text-align: center;
  }
  &:hover{
      color: #fff;
      background: #303695;
    border: none;

    .why_we_text{
      color: #fff;
    }
    }
  .why_we_text{
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    color: #666;
  }
}

.why_we_opt{
  min-height: 290px;
}
.form-group, .form-check-label{
  color: #666!important;
}

.bx-wrapper .bx-next{
  right: 0;
}

.close{
  &:focus{
    outline: none;
  }
}

.facing_tiles{
  &:hover{
    background: #2d131d;
    z-index: 9999999;
  }
}
.modal-header{
  border: none;
}
.certificate{
  display: flex;
  justify-content: center;
}

.bg-hover{

  text-align: center;
  img {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0.8s ease;
  }
}

.collection:hover{
  .bg-hover{
    text-align: center;
    //img{
    //  opacity: 0;
    //  transition: all 0.8s ease;
    //}
  }
}
.bg1{
  background: #686868;
}
.bg2{
  background: #683542;
}
.bg3{
  background: #4f4168;
}
.bg4{
  background: #275868;
}
.bg5{
  background: #2d293f;
}

.name-collection{
  position: relative;
  bottom: 150px;

}

.look-more{
  position: relative;
  bottom: 130px;
  background: #000;
  opacity: .6;
  color: #fff;
  border: #000;
  padding: 10px;

  &:hover{
    cursor: pointer;
    opacity: 1;
  }
  &:focus{
    outline: none;
  }
}
.bx-wrapper {
  .bx-prev {
    background: url("img/ico__arrow_left.png") no-repeat center !important;
    background-size: cover;
    &:hover{
      opacity: .5;
    }
  }
  .bx-next {
    background: url("img/ico__arrow_right.png") no-repeat center !important;
    background-size: cover;
    &:hover{
      opacity: .5;
    }
  }
}

.name-collection-modal{
  color: #fff;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #c6c6c6;
}
.policy{
  color: $purple;
  &:hover{
    color: $purple;
    text-decoration: underline;
  }
}

.get-sale{
  form{
    margin-bottom: 0;
  }
}

@media (max-width: 1305px) {
  .bottom_contacts {
    margin-bottom: 20px;
  }
  .navbar {
    margin-top: 15px;
  }
}

@media (max-width: 990px) {
  .adress {
    .top-adress, .top-clock {
      margin-left: 0;
    }
  }
  .bottom_contacts{
    margin-bottom: 0;
  }
}

@media (max-width: 650px) {
  .form-sale, .form-examples {
    margin: 20px;

    .input-form-sale, .input-form-example {
      display: block;
      width: 100%;
      margin: 10px auto;
    }
  }
  .big-img {
    .slide-img {
      min-height: 300px!important;
    }
  }
  .logo-collection{
    margin: 10px auto;
  }
  .adress {
    margin-top: 10px;
    .top-adress, .top-clock {
     text-align: center;
    }
  }
  .phone{
    text-align: center;
  }
  .top-opt-contacts {
    .i-social-bottom {
      text-align: center;
      &:first-child{
        margin-top: 15px;
      }
    }
  }
}

.img-production:hover{
  .open{
    display: none;
  }
  .open-hover{
    display: block;
  }
}

.view-source {
  a {
    color: #fff;
    font-size: 20px;
    &:hover {
      color: #fff;
    }
  }
}

.text-slide {
  display: none;
  padding: 15px;
}

.show {
  display: inline-block;
  float: right;
}
.hidden {
  display: none;
}
.col-question {
  padding-left: 25px;
}